@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --main-bg-color: #f0f0f0;
    --main-text-color: #333;
    --primary-color: #4caf50;
    --font-size: 18px;

    font-weight: 400;
    text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    font-family: Inter, Poppins, system-ui, sans-serif;
    max-width: 100vw;
    min-height: 100vh;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: cover;
    vertical-align: middle;
}
